*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}


/* START SPLIDE CARUSEL STYLES */
.splide {
  padding: 0;
}

.splide__slide {
  img {
    border-radius: 10px;
  }
}

.splide__track {
  border-radius: 10px;
}

.products__heading {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

/* END SPLIDE CARUSEL STYLES */